body {
    background-color: #BAFF29;
    font-family: 'Balsamiq Sans', cursive;
    background-image: url("../img/background.png");
}

.dropdown-toggle {
    background-color: #E87461;
    color: white;
    border: 3px solid white;
}

.checkbox-xl .custom-control-label::before, 
.checkbox-xl .custom-control-label::after {
  top: 1.2rem;
  width: 1.85rem;
  height: 1.85rem;
  
}
.sing {
    background-color: #E87461;
}
.checkbox-xl .custom-control-label {
  padding-top: 23px;
  padding-left: 10px;
}

.justify-content-center .dropdown-menu {
    left: 50%;
    transform: translateX(-50%);
 }

#time {
    font-size: 4rem;
}